{% extends "layout.html" %}

{% block title %}
    Dining Experiences
{% endblock %}

{% block main %}
    <div>
        <button id="go_back" onclick="window.history.back()">Go Back</button>
    </div>
    <form action="/by_region" method="post">
        <div class="mb-3">
            <h2>By what dining experience would you like to narrow down your search?</h2>
        </div>
        <div class="mb-3">
            <a target="_blank" href="https://www.google.com/search?q=Fast+food+restaurant+near+me"><button type="button">Fast Food</button></a>
        </div>
        <div class="mb-3">
            <a target="_blank" href="https://www.google.com/search?q=Fast+casual+dining+restaurant+near+me"><button type="button">Fast Casual</button></a>
        </div>
        <div class="mb-3">
            <a target="_blank" href="https://www.google.com/search?q=Casual+dining+restaurant+near+me"><button type="button">Casual Dining</button></a>
        </div>
        <div class="mb-3">
            <a target="_blank" href="https://www.google.com/search?q=Family+style+dining+restaurant+near+me"><button type="button">Family Style</button></a>
        </div>
        <div class="mb-3">
            <a target="_blank" href="https://www.google.com/search?q=Fine+dining+restaurant+near+me"><button type="button">Fine Dining</button></a>
        </div>
        <div class="mb-3">
            <a target="_blank" href="https://www.google.com/search?q=Restaurant+near+me"><button type="button">No Preference</button></a>
        </div>
    </form>
{% endblock %}
