{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
    <div>
        <button id="go_back" onclick="window.history.back()">Go Back</button>
    </div>
    <div id="main-content" data-mydata="{{ data | tojson | safe }}" data-adjective="{{ adjective }}"></div>
{% endblock %}

{% block footer %}
    <script src="{{ url_for('static', filename='render_buttons_country.js') }}"></script>
    <script src="{{ url_for('static', filename='render_title_country.js') }}"></script>
    <script>var data = {{ data|tojson }};</script>
    <script>var adjective = {{ adjective|tojson }};</script>
{% endblock %}
